*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# API Keys
api.properties
**/Secrets.kt

# Firebase config (iOS)
**/GoogleService-Info.plist

# Fastlane
iosApp/fastlane/report.xml
iosApp/fastlane/Preview.html
iosApp/fastlane/screenshots
iosApp/fastlane/test_output
iosApp/vendor/
